*.pt
*.pth
*.ckpt
*.safetensors
*.onnx
*.pb
*.h5
*.hdf5
*.mp4
*.avi
*.mov
*.wmv
*.flv
*.mkv
*.webm
*.gif
*.bmp
*.png
*.jpg
*.jpeg
data/
outputs/
logs/
wandb/
checkpoints/
.flash_manip_venv/
.venv/
third_party/
*.pyc
__pycache__/
PretrainedModels/
media/
misc/
visualize/
wandb/
flash_manip/log/
log/
*.egg-info/
*.whl
